@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif, monospace;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}


button {
  cursor: pointer;
}
